body {
	font-family: Arial;
	color: #333333;
	margin: 0px;
	padding: 0px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	border: 1px solid #DDDDDD;
}

th, td {
	height: 42px;
	padding: 10px;
}

a {
	color: #0088ff;
}

a:hover:focus:active {
	color: #0088ff;
}

a:visited {
	color: #BB00BB;
}

.ww-report-title {
	text-align: center;
	margin: 20px 0px 20px 0px;
}

.ww-report-entry-count{
	padding: 10px;
}

.ww-report-table-row-header {
	background: #555555;
	color: #FFFFFF;
}

.ww-report-table-row-message {
	color: #66CC99;
}

.ww-report-table-row-warning {
	color: #FFBB00;
}

.ww-report-table-row-error {
	color: #FF5555;
}

.ww-report-table-row-message:hover, 
.ww-report-table-row-warning:hover,
.ww-report-table-row-error:hover {
	background: rgba(0, 0, 0, 0.04);
}

.ww-report-table-cell-severity {
	text-align: center;
	font-size: 1.3em;
}