div.Paragraph, caption.Paragraph
{
  font-family: Arial;
  font-size: 12pt;
  line-height: 1.2em;
  padding-bottom: 6pt;
  padding-top: 0pt;
}

div.Title_1, caption.Title_1
{
  color: #0056B3;
  font-family: Arial;
  font-size: 24pt;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 12pt;
  padding-bottom: 12pt;
  padding-top: 0pt;
}

